<footer class="site-footer">
  <div class="wrapper">
    <li class="icon">
      <a href="https://github.com/matt-andersen/" target="_blank"><img src="../assets/images/github-ico.png" alt="GitHub logo"/></a>
    </li>
    <li class="icon">
      <a href="https://www.linkedin.com/in/mattandersen0/" target="_blank"><img src="../assets/images/linkedin-ico.png" alt="LinkedIn logo"/></a>
    </li>
    <li class="icon">
      <a href="mailto:mattandersen0@gmail.com" target="_blank"><img src="../assets/images/email-ico.png" alt="Email icon"/></a>
    </li>
  </div>
</footer class="site-footer">
