<footer class="site-footer">
  <div class="wrapper">
    <ul class="contact-list">
      <li>{{ site.title }}</li>
      <li>
        <a href="mailto:mattandersen0@gmail.com" title="Email" target="_blank">mattandersen0@gmail.com</a>
      </li>
    </ul>

    <ul class="social-list">
      <li class="social-icon">
        {% include icon-github.html %}
        <a href="https://github.com/{{ site.github_username }}" title="GitHub" target="_blank">{{ site.github_username }}</a>
        </a>
      </li>
      <li class="social-icon">
        {% include icon-linkedin.html %}
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn"
          target="_blank">{{ site.linkedin_username }}</a>
        </a>
      </li>
  </div>

  </div>
</footer class="site-footer">