<header class="site-header">
  <div class="wrapper">
    <a href="/" class="site-title">Matt Andersen</a>
    <nav class="site-nav">
      {% for item in site.data.navigation %}
      {% if item.name == "CV" %}
      <a class="nav-link" href="../assets/cv/MattAndersenResume.pdf" download>{{ item.name }}</a>
      {% else %}
      <a class="nav-link" href="{{ item.link }}" {% if page.url == item.link %}class="current"
        {% endif %}>{{ item.name }}</a>
      {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>