body {
  background-color: $primary-color;
  margin: 0;
  color: $secondary-color;
  font: $copy-text-stack;
}

a:visited {
  color: #1756a9;
}

a {
  color: #2a7ae2;
  text-decoration: none;
}
a:hover {
  color: $secondary-color;
  text-decoration: underline;
}

.page-content {
  margin-top: 30px;
  margin-bottom: 30px;
}

.page-header {
  font-family: $header-text-stack;
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}

code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #f0f0f0;
  padding: 1px 5px;
}
