.subheading-text {
    font-family: $header-text-stack;
    font-size: 36px;
}

.introduction-text {
    $font-size: 24px;
    font-family: $copy-text-stack;
    font-size: $font-size;
    margin-top: $font-size;
    margin-bottom: 0;
    line-height: 44px;
}