.index-content {
    margin-top: $lane*3;
    max-width: 640px;
}

.subheading-text {
    font-family: $header-text-stack;
    font-size: 36px;
}

.introduction-text {
    font-family: $copy-text-stack;
    font-size: 28px;
    line-height: 44px;
}