<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/png" href="../favicon.png" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div class="wrapper">
        {% include logo.html %} {% include nav.html %}
      </div>
    </header>
    <main class="page-content">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
