<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Portfolio of my progress as a software developer.">
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/png" href="../favicon.png" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet" />
  </head>
  <body>
    {% include header.html %}
    <main class="page-content wrapper">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
