.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
  font-size: 14px;
}

.footer-wrapper {
  display: inline;
}

.social-icon {
  list-style: none;
}

.contact-list {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  padding-right: 60px;
  float: left;
  list-style: none;
  color: #828282;
}

.social-list {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  float: left;
  list-style: none;
}

.site-footer svg {
  width: 16px;
  height: 16px;
  fill: #828282;
  padding-right: 4px;
}
