.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

.icon {
  list-style-type: none;
  display: inline;
  margin-right: 24px;
}

.github {
  content: url("../../assets/images/github-ico.png");
}

.linkedin {
  content: url("../../assets/images/linkedin-ico.png");
}

.email {
  content: url("../../assets/images/email-ico.png");
}