$header-line-height: 61px;

.site-header {
  border-bottom: 1px solid #e8e8e8;
  min-height: $header-line-height;
  position: relative;
}

.site-title {
  font-family: $header-text-stack;
  font-size: 26px;
  font-weight: lighter;
  text-decoration: none;
  line-height: $header-line-height;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}

.site-nav {
  float: right;
  line-height: $header-line-height;
}

.site-nav .nav-link:not(:last-child) {
  margin-right: 20px;
}

.site-header a {
  text-decoration: none;
  color: $secondary-color;
}

.site-nav .menu-icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .site-nav {
    float: none;
  }

  .site-title {
    float: none;
  }
}