.icon {
  list-style-type: none;
  display: inline;
  margin-right: 24px;
}

.github {
  content: url("../../assets/images/github-ico.png");
}

.linkedin {
  content: url("../../assets/images/linkedin-ico.png");
}

.email {
  content: url("../../assets/images/email-ico.png");
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: $lane;
}
