.social-links {
    display: inline-block;
}

.icon {
    list-style-type: none;
}

.github {
    content:url("../../assets/images/github-ico.png");
}

.linkedin {
    content:url("../../assets/images/linkedin-ico.png");
}

.email {
    content:url("../../assets/images/email-ico.png");
}