body {
  background-color: $primary-color;
  margin: 0;
  color: $secondary-color;
  font: $copy-text-stack;
}

a {
    text-decoration: underline;
    color: $secondary-color;
}


.page-content {
  margin-top: 30px;
  margin-bottom: 30px;
}

.page-header {
  font-family: $header-text-stack;
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
}

