body {
  background-color: $primary-color;
  margin: 0;
  color: $secondary-color;
  font: $copy-text-stack;
}

a {
    text-decoration: underline;
    color: $secondary-color;
}

.wrapper {
  max-width: -webkit-calc(880px - (30px * 2));
  max-width: calc(880px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.page-content {
  margin-top: $lane*2;
}